<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106725993051-0jgg9f86c1fqcvre5hnk8fcnr82gg40e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106725993051-0jgg9f86c1fqcvre5hnk8fcnr82gg40e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106725993051-9vneitfjqb58i2h3mvntir8n7cij56mo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArpAX05pbMrSOZ4UC9Qt21FxaQ82jN2Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>106725993051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dexterbrylle.mpp-ios</string>
	<key>PROJECT_ID</key>
	<string>kotlin-mpp-ios-android</string>
	<key>STORAGE_BUCKET</key>
	<string>kotlin-mpp-ios-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106725993051:ios:2e99beacb062f0ea92ed7e</string>
	<key>DATABASE_URL</key>
	<string>https://kotlin-mpp-ios-android.firebaseio.com</string>
</dict>
</plist>